@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$dark-color: #031239;
$light-color: #F6F9FC;
$light-blue: #7A64F2;

* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

.app-container {
    display: flex;

}

body {
    margin: 0;
    padding: 0;
    background-color: $dark-color;
}

.language-container {
    justify-content: center;
    text-align: center;
    background-color: $dark-color;
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    color:$light-color;
    padding: 2em;

    
    h1 {
        margin: 1em;
        padding-bottom: 1em;
    }

    h3 {
        display:inline;
        padding-top: 2em;
    }
    h4 {
        display:inline;
        font-size: 30px;
    }
    span {
        text-transform:capitalize ;
    }
    #langs {
        font-size: 30px;
        font-weight: bold;
        color: #7A64F2;
    }
    button {
        font-family: roboto;
        font-weight: 500;
        margin-left: 1rem;
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 25px;
        border: none;
        height:29.33px;
        background-color: #7A64F2;
        color:white;
        cursor:pointer;
    }
    input {
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 25px;
        border: 0;
        outline: none;
        text-transform: capitalize;
    }
    p {
        padding: 2em;
    }
    .spoken-in {
        padding-bottom: 3em;
    }
    .wiki-link {
        margin-top: 5em;
        a, h5 {
            display: inline;
            font-weight: 400;
            font-size: 0.75rem;
            text-decoration: none;
        }
        a {
            color: #7A64F2;
            font-weight: 600;
            

        }
    }


}

.form-container {
    position:relative;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 4em;
    .suggestions {
        background: rgba(255, 255, 255, 0.842);
        color:$dark-color;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 0.85rem;
        border-radius: 10px;
        overflow:hidden;
        position:absolute;
        width: 184.66px;
        div {
            border: 1px solid $dark-color;
            padding: 0.35rem;
            &:hover {
                background-color: $light-blue;
                color: white;
            }
        }
    }
}


// .countries-container {
//     justify-content: center;
//     text-align: center;
//     color:$dark-color;
//     height: 100vh;
//     width: 50vw;
//     padding: 2em;

//     h3, h4 {
//         display:inline;
//     }
//     span {
//         text-transform:capitalize ;
//     }
//     button {
//         margin-left: 1rem;
//         font-family: roboto;
//         font-weight: 500;
//         padding: 0.5em 1em 0.5em 1em;
//         border-radius: 25px;
//         border: none;
//         background-color: #dd317c;
//         color:white;
//         cursor:pointer;
//         box-shadow: 0 0 10px rgb(173, 173, 173);
//     }
//     input {
//         padding: 0.5em 1em 0.5em 1em;
//         border-radius: 25px;
//         border: 0;
//         outline: none;
//         box-shadow: 0 0 10px rgb(173, 173, 173);
//     }
// }

// .form-container-countries {
//     display: flex;
//     justify-content: center;
//     margin: auto;
// }

// @media (max-width: 700px) {
//     .app-container {
//         flex-direction: column;
//     }
//     .language-container {
//         width: 100vw;
        
//     }
//     .countries-container {
//         width: 100vw;
      
//     }
// }